body{
	background-color: #000000;
	margin:0px;
	padding: 0px;
}
.g-width-100 {
  width: 100px !important;
}

.g-max-width-100 {
  max-width: 100px !important;
}

.g-min-width-100 {
  min-width: 100px !important;
}